.form-horizontal .data-label {
    padding-top: 8px;
}

ul.stats-overview li {
    width: 13.9% !important;
}

.fa-wide{
    padding: 5px;
}
.drag-n-drop-ul{
    padding-left: 0px;
    list-style-type: none;
    border: 1px solid #e9e9e9;
    padding-bottom: 15px;
    padding-top: 15px;
}

.possible-list .possibly-hide{
    display: none;
}
.possibly-hide{
    text-align: left;
}


.possible-list .col-sm-4 {
    width: 100%
}

.btn-transparent {
    opacity: 0.7;
}
.btn-round {
    border-radius: 25px;
}
.link-large {
    font-size: 18px;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(248, 247, 247, 0.4);
    transition: all .4s ease-in-out;
}

.view .tools {
    /*color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 3px;
    background: rgba(0,0,0,.35);*/
    margin: 0px 0 0;
}
.view-first:hover .mask {
    z-index: 1;
}

.view .content, .view .mask {
    width: 120px;
    top: 0;
    left:auto;
    right: 0;
}

.view {
    box-shadow: none;
}

.possible-list {
    font-size: 12px;
    line-height: 0.6;
}

.header-buttons {
    padding-left: 15px;
    display: inline;
}

#responsible_container{
    padding: 12px
}

.editable-title{
    display:inline;
    width: 200px;
    border: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: 400;
    color: #73879C;
    padding: 0px;
    font-weight: 600;
}

.editable-title:focus {
    background-color: rgba(115, 135, 156, 0.15);
}

.possible-list li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    min-height: 18px;
}
.usable-fields .possibly-hide-label{
    display: none;
}

ul.messages li .message_wrapper h4.heading {
    max-height: 25px;
}

.overview-names {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    min-height: 18px;
}

#advanced-table_filter input{
        color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin-left: 10px;
}
#advanced-table_filter label{
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

.dataTables_paginate a {
    background: #f9f9f9!important;
}
a{
    cursor: pointer;
    cursor: hand;
}

.dropdown-menu {
    top: 32px !important;
    bottom: auto !important;
}
.dataTables_filter, .dataTables_length {
display: none;
}

.form-horizontal-no-alert .form-group {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
}

ul.messages li .message_wrapper blockquote.note{
    font-size: 12px;
    border-left: none;
}

ul.messages li .message_wrapper.wrapper_note{
    margin-left: 0px;
    margin-right: 0px;
}

.wrapper_note .note small{
    display: inline;
}

.files form{
    display:none;
}


@media (min-width: 480px) {
    .nav_menu2 {
        position: fixed;
    }
}

.editable-account {
    color: #E7E7E7;
    background-color: #2A3F54;
    width: 174px;
    font-size: 13px;
    border: none;
    box-shadow: none;
}
.editable-account:focus {
    border: 1px solid #fff;
}
.main-menu-account-list {
    position: relative;
    left: -21px;
    top: -28px;
}
.account-text-title {
    padding: 12px;
    font-size: 13px;
}

.menu_section h3 {
    text-transform: none;
}

.menu-count-wrap {
    padding: 6px 15px 12px;
}
.stop-count-button i {
    background: red;
    color: white;
    padding: 3px;
        font-size: 18px;
    margin-left: 7px;
}
.tmb-count {
    font-weight: 600;
}
