.form-horizontal .data-label {
    padding-top: 8px;
}

ul.stats-overview li {
    width: 13.9% !important;
}

.fa-wide{
    padding: 5px;
}
.drag-n-drop-ul{
    padding-left: 0px;
    list-style-type: none;
    border: 1px solid #e9e9e9;
    padding-bottom: 15px;
    padding-top: 15px;
}

.possible-list .possibly-hide{
    display: none;
}

.possible-list .col-sm-4 {
    width: 100%
}

.btn-transparent {
    opacity: 0.7;
}
.btn-round {
    border-radius: 25px;
}
.link-large {
    font-size: 18px;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(248, 247, 247, 0.4);
    transition: all .4s ease-in-out;
}

.view .tools {
    /*color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 3px;
    background: rgba(0,0,0,.35);*/
    margin: 0px 0 0;
}
.view-first:hover .mask {
    z-index: 1;
}

.view .content, .view .mask {
    width: 120px;
    top: 0;
    left:auto;
    right: 0;
}

.view {
    box-shadow: none;
}
