.form-horizontal .data-label {
    padding-top: 8px;
}

ul.stats-overview li {
    width: 13.9% !important;
}

.fa-wide{
    padding: 5px;
}
.drag-n-drop-ul{
    padding-left: 0px;
    list-style-type: none;
    border: 1px solid #e9e9e9;
    padding-bottom: 15px;
    padding-top: 15px;
}

.possible-list .possibly-hide{
    display: none;
}

.possible-list .col-sm-4 {
    width: 100%
}
